//- path:string - relative(in dist) path to img
//- alt:string - img alt attr
//- class: class for component bem mix: such as positioning functionality
//- Tip: split your picture and inner img styles
mixin picture
  -
    const fullPath = attributes.path;
    const filePath = fullPath.substring(0, fullPath.lastIndexOf('.')) || fullPath;
    const fileExt = fullPath.substring(fullPath.lastIndexOf('.') + 1, fullPath.length) || fullPath;
  picture(class=attributes.class)
    //- FIXME: suffixed webp images doesn't work with devServer, don't know why; building is ok and the another img formats the same ok;
    source(
      type="image/webp",
      srcset=htmlWebpackPlugin ? htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : ''.default : '',
      data-srcset=filePath + '.webp 1x'
    )
    //- source(
    //-   media="(min-width:1200px)",
    //-   type="image/webp",
    //-   srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
    //-   data-srcset=filePath + '-1920.webp 1x'
    //- )
    //- source(
    //-   media="(min-width:960px)",
    //-   type="image/webp",
    //-   srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
    //-   data-srcset=filePath + '-960.webp 1x'
    //- )
    //- source(
    //-   media="(min-width:600px)",
    //-   type="image/webp",
    //-   srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
    //-   data-srcset=filePath + '-640.webp 1x'
    //- )
    //- source(
    //-   media="(min-width:0px)",
    //-   type="image/webp",
    //-   srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
    //-   data-srcset=filePath + '-320.webp 1x'
    //- )
    source(
      media="(min-width:1200px)",
      srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
      data-srcset=filePath + '-1920.' + fileExt + ' 1x'
    )
    source(
      media="(min-width:960px)",
      srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
      data-srcset=filePath + '-960.' + fileExt + ' 1x'
    )
    source(
      media="(min-width:600px)",
      srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
      data-srcset=filePath + '-640.' + fileExt + ' 1x'
    )
    source(
      media="(min-width:0px)",
      srcset=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
      data-srcset=filePath + '-320.' + fileExt + ' 1x'
    )
    img(
      src=htmlWebpackPlugin ? require('@images/placeholders/lazy-loading-placeholder.svg').default : '',
      alt=attributes.alt,
      width="100%",
      height="100%",
      data-src=fullPath
    )
